.container {
    position:         fixed;
	display:          flex;
	align-items:      center;
	height:           calc(var(--navbar-height));
	background-color: var(--surface-navbar-bg);
	border:    var(--surface-navbar-bd);
    border-radius:    10px;
	box-shadow:       0 0 2rem rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(1rem);
			backdrop-filter: blur(1rem);
	z-index:          9999;
    overflow:         hidden;
}

.navbar {
	display:         flex;
	align-items:     center;
	justify-content: space-between;
	overflow-x:      scroll;
}

.navbar::-webkit-scrollbar {
	display: none;
}

.navLinks {
	display:     flex;
	align-items: center;
	list-style:  none;
}

.navLinks li, .navLinks button {
    display:            flex;
    align-items:        center;
    justify-content:    center;
	width:              var(--navbar-height);
	height:             var(--navbar-height);
	background-color:   transparent;
    border:             none;
	border-right:       var(--surface-navbar-bd);
    color:              var(--text-color);
}

.navLinks li a {
    color: var(--text-color);
}

.navLinks > *:last-child {
    border-right: none;
}

.navLinks a {
	display:            flex;
	align-items:        center;
	justify-content:    center;
	gap:                5px;
	text-decoration:    none;
}

.toggleSidebar { cursor: pointer; }