.hero {
    position:        relative;
    display:         grid;
    grid-template-areas: 
        'h1 img'
        'p img'
        'btn img'
    ;
    grid-template-columns: 1fr 7.5rem;
    padding:          2rem;
    padding-top:      calc(3rem + var(--navbar-height));
    background:       var(--surface-special-card-bg);
    color:            white;
    line-height:      1;
}

.hero h1 { grid-area: h1; }
.hero p { grid-area: p; }

.hero img { 
    align-self: center;
    justify-self: center;
    grid-area: img;
    width:     100%;
}

.hero a {
    grid-area:        btn;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    width:            fit-content;
    height:           2rem;
    padding:          0 1rem;
    margin-top:       0.5rem;
    background-color: var(--surface-special-card-item-bg);
    border:           var(--surface-special-card-item-bd);
    border-radius:    0.5rem;
    text-decoration:  none;
    color:            white;
    font-size:        0.9rem;
}
