.header {
	position:         fixed;
	display:          flex;
	align-items:      center;
	width:            100dvw;
	height:           calc(var(--header-height));
	background-image: linear-gradient(
		90deg,
		var(--salmon),
		var(--orange)
	);
	z-index:          9999;
}

.navbar {
	display:         flex;
	align-items:     center;
	justify-content: space-between;
	width:           100%;
	padding:         0 0.5rem;
	gap:             0.5rem;
	overflow-x:      scroll;
}

.navbar::-webkit-scrollbar {
	display: none;
}

.navLinks {
	display:     flex;
	align-items: center;
	gap:         0.5rem;
	list-style:  none;
}

.navLinks a, .navLinks button {
	width:              calc(var(--header-height) - 1rem);
	height:             calc(var(--header-height) - 1rem);
	background-color: rgba(255, 255, 255, 0.2);
	border:             1px solid rgba(255, 255, 255, 0.2);
	border-radius:      10px;
	color:             white;
}

.navLinks a {
	display:            flex;
	align-items:        center;
	justify-content:    center;
	gap:                5px;
	text-decoration:    none;
}

.toggleSidebar { cursor: pointer; }