.header {
	position:         fixed;
	display:          flex;
	align-items:      center;
	width:            100%;
	height:           calc(var(--header-height) + 2px);
	background-image: linear-gradient(
		90deg,
		var(--salmon),
		var(--orange)
	);
  	-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
}

.navbar {
	display:         flex;
	align-items:     center;
	justify-content: space-between;
	width:           100%;
	padding:         0 0.5rem;
	gap:             0.5rem;
	overflow-x:      scroll;
}

.navbar::-webkit-scrollbar {
	display: none;
}

.navLinks {
	display:     flex;
	align-items: center;
	gap:         0.5rem;
	list-style:  none;
}

.navLinks a {
	display:            flex;
	align-items:        center;
	justify-content:    center;
	height:             2rem;
	padding:            0 1rem;
	gap:                5px;
	background-color: rgba(255, 255, 255, 0.2);
	border:             1px solid rgba(255, 255, 255, 0.2);
	border-radius:      0.5rem;
	text-decoration:    none;
	font-size:          0.9rem;
	color:             white;
}
