.sidebar {
	position:         fixed;
	display:          flex;
	flex-direction:   column;
	top:              var(--header-height);
	left:             -100%;
	width:            15rem;
	height:           calc(100dvh - var(--header-height));
	background-color: var(--tlgray2);
	border-right:     1px solid var(--tlgray4);
	box-shadow:       0 0 2rem rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(2px);
			backdrop-filter: blur(2px);
	transition:       left 0.4s;
	z-index:          9998;
}

.open {
  left: 0;
}
