.sidebar {
	position:         fixed;
	display:          flex;
	flex-direction:   column;
	top:              var(--header-height);
	left:             -100%;
	width:            15.5rem;
	height:           calc(100dvh - var(--header-height));
	padding:          1rem;
	gap:              10px;
	background-color: var(--surface-sidebar-bg);
	border-right:     var(--surface-sidebar-bd);
	-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
	transition:       left 0.4s;
	overflow-y:       auto;
	z-index:          9998;
}

.sidebar ul {
	display:        flex;
	flex-direction: column;
	gap:            7.5px;
	list-style:     none;
}

.sidebar li {
	display:          flex;
	align-items:      center;
	height:           2.5rem;
	padding:          0 1rem;
	background-color: var(--surface-sidebar-item-bg);
	border:           var(--surface-sidebar-item-bd);
	border-radius:    10px;
	cursor:           pointer;
	transition:       background-color 0.4s;
}
.sidebar a {
	font-size:       0.95rem;
	text-decoration: none;
	color:           var(--text-color);
}

.sidebar h5 {
	background: linear-gradient(45deg, var(--salmon), var(--yellow));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.open {
  left: 0;
}
