.sidebar {
	position:         fixed;
	display:          flex;
	flex-direction:   column;
	top:              var(--header-height);
	left:             -100%;
	width:            15.5rem;
	height:           100dvh;
	padding:          1rem;
	padding-top:      calc(2rem + var(--navbar-height));
	gap:              10px;
	background-color: var(--surface-sidebar-bg);
	border-right:     var(--surface-sidebar-bd);
	-webkit-backdrop-filter: blur(1rem);
			backdrop-filter: blur(1rem);
	transition:       left 0.4s;
	overflow-y:       auto;
	z-index:          9998;
}

.sidebar ul {
	display:        flex;
	flex-direction: column;
	gap:            7.5px;
	list-style:     none;
}
.sidebar a {
	display:          flex;
	align-items:      center;
	height:           2.75rem;
	padding:          0.75rem 1rem;
	background-color: var(--surface-sidebar-item-bg);
	border:           var(--surface-sidebar-item-bd);
	border-radius:    0.8rem;
	cursor:           pointer;
	transition:       background-color 0.4s;
	text-decoration: none;
	color:           var(--text-color);
}

.sidebar h3 {
	background: linear-gradient(45deg, var(--salmon), var(--yellow));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar ul .especial a {
	flex-direction: column;
	align-items:    start;
	height:         fit-content;
	background:     var(--surface-special-card-bg);
	border:         none;
	color:        white;
}

.open {
  left: 0;
}
