:root {
    --salmon: #FF6D34;
    --orange: #F3A600;
    --yellow: #FFC74E;
    --green:  #1E6543;
    --blue:   #0A0018;
}

*,
*::before,
*::after {
    margin:      0;
    padding:     0;
    box-sizing:  border-box;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}