:root {
    --salmon: #FF5614;
    --orange: #ff9204;
    --yellow: #ffbd2f;
    --green:  #1E6543;
    --blue:   #0A0018;

    --dsalmon: #FF5614dd;
    --dorange: #ff9204dd;
    --dyellow: #ffbd2fdd;
    --dgreen:  #1E6543dd;
    --dblue:   #0A0018dd;

    --gray1: #f8f8f8;
    --gray2: #ececec;
    --gray3: #e0e0e0;
    --gray4: #d4d4d4;
    --gray5: #c8c8c8;
    --gray6: #bcbcbc;

    --tgray1: #f8f8f8dd;
    --tgray2: #ecececdd;
    --tgray3: #e0e0e0dd;
    --tgray4: #d4d4d4dd;
    --tgray5: #c8c8c8dd;
    --tgray6: #bcbcbcdd;

    --dgray1: #000000;
    --dgray2: #080808;
    --dgray3: #101010;
    --dgray4: #181818;
    --dgray5: #202020;
    --dgray6: #282828;
    
    --tdgray1: #000000ef;
    --tdgray2: #050505ef;
    --tdgray3: #101010ef;
    --tdgray4: #181818ef;
    --tdgray5: #202020ef;
    --tdgray6: #282828ef;

    --text-color: #202020;
    --surface-color: var(--gray1);

    --surface-navbar-bg:      var(--tgray2);
    --surface-navbar-bd:      1px solid rgba(127, 127, 127, 0.25);

    --surface-sidebar-bg: var(--tgray2);
    --surface-sidebar-bd: 1px solid var(--tgray4);
    --surface-sidebar-item-bg: var(--tgray2);
    --surface-sidebar-item-bd: 1px solid var(--tgray4);

    --surface-card-bg: linear-gradient(
		90deg,
		var(--salmon),
		var(--orange)
	);
    --card-carousel-item-bg: rgba(255, 255, 255, 0.1);
    --card-carousel-item-bd: 1px solid rgba(255, 255, 255, 0.25);

    --surface-card-caroussel-item-width: 10rem;
    --surface-card-carousel-item-bg:     var(--gray2);
    --surface-card-carousel-item-bd:     1px solid var(--gray4);

    --navbar-height: 2.75rem;
    --main-padding:  2.25rem;
}

:root[data-theme="dark"] {
    --gray1: var(--dgray1);
    --gray2: var(--dgray2);
    --gray3: var(--dgray3);
    --gray4: var(--dgray4);
    --gray5: var(--dgray5);
    --gray6: var(--dgray6);

    --tgray1: var(--tdgray1);
    --tgray2: var(--tdgray2);
    --tgray3: var(--tdgray3);
    --tgray4: var(--tdgray4);
    --tgray5: var(--tdgray5);
    --tgray6: var(--tdgray6);

    --text-color: #f2f2f2;
    --surface-color: var(--gray1);
}

*,
*::before,
*::after {
    margin:      0;
    padding:     0;
    box-sizing:  border-box;
    font-family: 'Inter', sans-serif;
}

:focus {
    outline: none;
}


body {
    background-color: var(--surface-color);
    color: var(--text-color);

    background-image:
        linear-gradient(var(--gray2) 1px, transparent 1px),
        linear-gradient(90deg, var(--gray2) 1px, transparent 1px);
    background-size: 2rem 2rem;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Inter Tight', sans-serif;
}

h1 {
    font-weight: 800;
}

h1 { font-size: 2.986rem; }
h2 { font-size: 2.488rem; }
h3 { font-size: 2.074rem; }
h4 { font-size: 1.728rem; }
h5 { font-size: 1.44rem; }
h6 { font-size: 1.2rem; }
p  { font-size: 1rem; }

li > a {
    width: 100%;
	height: 100%;
}

main {
    padding-bottom: var(--navbar-height);
}

main .content {
    display:        flex;
    flex-direction: column;
    gap:            1rem;
    padding:        var(--main-padding);
}

.card-container {
    position:         relative;
    padding:          2rem;
    background:       var(--surface-card-bg);
    border:           none;
    border-radius:    1.75rem;
    box-shadow:       0 0 1rem rgba(0, 0, 0, 0.1);
    color:          white;
}

.card-container::before {
    content:        "";
    position:       absolute;
    inset:          0.75rem;               
    border:         2px dashed rgba(255, 255, 255, 0.25);
    border-radius:  1rem;
    pointer-events: none;
}

.card-carousel {
    display:        flex;
    list-style:     none;
    gap:            10px;
    overflow-x:     auto;
}

.card-carousel::-webkit-scrollbar {
    display: none;
}

.card-carousel .card {
    display:          flex;
    flex-direction:   column;
    width:            var(--surface-card-caroussel-item-width);
    height:           100%;
    overflow:         hidden;
    text-decoration:  none;
    cursor:           pointer;
    color:            var(--text-color);
}

.card-carousel .card img {
    height:        6.5rem;
    border-radius: 1rem 1rem 0 0;
    object-fit:    cover;
    flex-shrink:   0;
}

.card-carousel .card p {
    font-size: 0.85rem;
    opacity:   0.8;
}

.card-carousel .card-text {
    height:           100%;
    padding:          10px;
    background-color: var(--surface-card-carousel-item-bg);
    border:           var(--surface-card-carousel-item-bd);
    border-radius:    0 0 1rem 1rem;
    text-align:       left;
}

.card-container .card-carousel {
    margin-top: 10px;
}

.card-container .card-carousel .card .card-text {
    background-color: var(--card-carousel-item-bg);
    border:           var(--card-carousel-item-bd);
    color:            white;
}