:root {
    --salmon: #FF5614;
    --orange: #F3A600;
    --yellow: #ffbd2f;
    --green:  #1E6543;
    --blue:   #0A0018;

    --header-height: 3rem;
    --main-padding:  2.25rem;
}

*,
*::before,
*::after {
    margin:      0;
    padding:     0;
    box-sizing:  border-box;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}

h1 { font-size: 2.986rem; }
h2 { font-size: 2.488rem; }
h3 { font-size: 2.074rem; }
h4 { font-size: 1.728rem; }
h5 { font-size: 1.44rem; }
h6 { font-size: 1.2rem; }
p  { font-size: 1rem; }

h1 {
    background: linear-gradient(90deg, var(--salmon), var(--yellow));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding:     var(--main-padding);
    padding-top: calc(var(--header-height) + var(--main-padding));
}