:root {
    --salmon: #FF6D34;
    --orange: #F3A600;
    --yellow: #FFC74E;
    --green:  #1E6543;
    --blue:   #0A0018;

    --lsalmon: #ff6e34dd;
    --lorange: #F3A600dd;
    --lyellow: #FFC74Edd;
    --lgreen:  #1E6543dd;
    --lblue:   #0A0018dd;

    --header-height: 3rem;
    --main-padding:  2rem;
}

*,
*::before,
*::after {
    margin:      0;
    padding:     0;
    box-sizing:  border-box;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}

main {
    padding:     var(--main-padding);
    padding-top: calc(var(--header-height) + var(--main-padding));
}