 :root {
    --salmon: #FF5614;
    --orange: #ff9204;
    --yellow: #ffbd2f;
    --green:  #1E6543;
    --blue:   #0A0018;

    --lgray1: #f8f8f8;
    --lgray2: #ececec;
    --lgray3: #e0e0e0;
    --lgray4: #d4d4d4;
    --lgray5: #c8c8c8;
    --lgray6: #bcbcbc;

    --tlgray1: #f8f8f8dd;
    --tlgray2: #ecececdd;
    --tlgray3: #e0e0e0dd;
    --tlgray4: #d4d4d4dd;
    --tlgray5: #c8c8c8dd;
    --tlgray6: #bcbcbcdd;

    --dgray1: #000000;
    --dgray2: #0c0c0c;
    --dgray3: #181818;
    --dgray4: #242424;
    --dgray5: #303030;
    --dgray6: #3c3c3c;

    --tdgray1: #000000dd;
    --tdgray2: #0c0c0cdd;
    --tdgray3: #181818dd;
    --tdgray4: #242424dd;
    --tdgray5: #303030dd;
    --tdgray6: #3c3c3cdd;

    --text-color: #333;
    --surface-color: #ffffff;

    --header-height: 3.25rem;
    --main-padding:  2.25rem;
}

:root[data-theme="dark"] {
    --lgray1: var(--dgray1);
    --lgray2: var(--dgray2);
    --lgray3: var(--dgray3);
    --lgray4: var(--dgray4);
    --lgray5: var(--dgray5);
    --lgray6: var(--dgray6);

    --tlgray1: var(--tdgray1);
    --tlgray2: var(--tdgray2);
    --tlgray3: var(--tdgray3);
    --tlgray4: var(--tdgray4);
    --tlgray5: var(--tdgray5);
    --tlgray6: var(--tdgray6);

    --text-color: #f2f2f2;
    --surface-color: #121212;
}

*,
*::before,
*::after {
    margin:      0;
    padding:     0;
    box-sizing:  border-box;
    font-family: 'Inter', sans-serif;
}

:focus {
    outline: none;
}


body {
    background-color: var(--surface-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}

h1 { font-size: 2.986rem; }
h2 { font-size: 2.488rem; }
h3 { font-size: 2.074rem; }
h4 { font-size: 1.728rem; }
h5 { font-size: 1.44rem; }
h6 { font-size: 1.2rem; }
p  { font-size: 1rem; }

h1 {
    background: linear-gradient(0, var(--salmon), var(--yellow));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding:     var(--main-padding);
    padding-top: calc(var(--header-height) + var(--main-padding));
}